<div class="container">
  <h2 class="mt-4">Login Required</h2>

  <%# Flash messages will be displayed in the layout %>

  <p>Please sign in using your Google account to access Brisa CRM.</p>

  <a href="/auth/google_oauth2" class="button" role="button">
    <img src="https://developers.google.com/identity/images/g-logo.png" width="20px" style="margin-bottom:3px; margin-right:5px;" alt="Google logo">
    Sign in with Google
  </a>
</div>
